<%# First section. Fills viewport height, stretches full width of screen. %>
<%# This may need changing to be container xl later so that it won't stretch %>
<%# ad infinitum. %>

<section class="container-fluid vh-100 row">
  <div class="col-5 mx-auto d-flex flex-column align-items-center">

    <div class="rounded-circle border border-primary central-photo"></div>

    <h1>Joe Burke</h1>
    <h4>\ˈʤəʊ ‘bɜːk\</h4>
    <h5 class="text-center">n. An entry-level developer with boundless potential</h5>
  
  </div>
</section>