<%# First section. Fills viewport height, stretches full width of screen. %>
<%# This may need changing to be container xl later so that it won't stretch %>
<%# ad infinitum. %>

<section class="container-fluid min-vh-100">
  <div class="h-100 col-6 mx-auto pt-6 d-flex flex-column align-items-center">

    <div class="rounded-circle central-photo"></div>

    <h1 class="font-weight-bold name mt-3 ml-1">Joe Burke</h1>
    <h4 class="name-phonetic mt-n3 mr-3">\ˈʤəʊ ‘bɜːk\</h4>
    <h5 class="definition text-center mt-1"><span class="font-italic">n.</span> An entry-level developer with boundless potential</h5>

    <div class="dictionary mt-2">
      <div class="tab-bar btn-group d-flex" role="group" aria-label="Basic example">
        <button type="button" class="tab btn flex-grow-1" data-toggle="collapse" data-target=".show, #synonyms-card" aria-expanded="true" aria-controls="collapseExample">Synonyms</button>
        <button type="button" class="tab btn flex-grow-1" data-toggle="collapse" data-target=".show, #antonyms-card" aria-expanded="false" aria-controls="collapseExample">Antonyms</button>
        <button type="button" class="tab btn flex-grow-1" data-toggle="collapse" data-target=".show, #examples-card" aria-expanded="false" aria-controls="collapseExample">Examples</button>
        <button type="button" class="tab btn flex-grow-1" data-toggle="collapse" data-target=".show, #famous-quotes-card" aria-expanded="false" aria-controls="collapseExample">Famous Quotes</button>
      </div>

      <div class="collapse" id="synonyms-card">
        <div class="card card-body flex-row row no-gutters p-0 align-items-center">
          <h6 class="col-4 card-title text-center">Hardworking</h6>
          <p class="col-8 card-text">
            Since beginning Microverse's Full-Stack Web Development course in June, Joe has completed over 30 projects, pushed 800 commits to repositories on GitHub
            and maintained a gruelling 40 hours of coding a week. His work ethic is fuelled both by a delighted fascination with computer programming and an unyielding
            desire to break into the industry and land his first job.
          </p>
        </div>
      </div>

      <div class="collapse" id="antonyms-card">
        <div class="card card-body flex-row row no-gutters p-0 align-items-center">
          <h6 class="col-4 card-title text-center">Hardworking</h6>
          <p class="col-8 card-text">
            Since beginning Microverse's Full-Stack Web Development course in June, Joe has completed over 30 projects, pushed 800 commits to repositories on GitHub
            and maintained a gruelling 40 hours of coding a week. His work ethic is fuelled both by a delighted fascination with computer programming and an unyielding
            desire to break into the industry and land his first job.
          </p>
        </div>
      </div>

      <div class="collapse" id="examples-card">
        <div class="card card-body flex-row row no-gutters p-0 align-items-center">
          
        </div>
      </div>

      <div class="collapse" id="famous-quotes-card">
        <div class="card card-body flex-row row no-gutters p-0 align-items-center">
          
        </div>
      </div>

    </div>
  
  </div>
</section>


<section class="projects-section container-fluid vh-100 d-flex flex-column">
  <div class="row flex-column align-items-center">
    <h1 class="section-title">Projects</h1>
    <h4>/ˈprɒdʒ.ekts/</h4>
  </div>


  <div class="row row-cols-2 flex-grow-1 px-5">

    <div class="col px-5 py-4 d-flex">
      <div class="card cop-26 flex-grow-1 justify-content-end">
        <h4 class="project-name text-left">COP26</h4>
      </div>
    </div>
    <div class="col px-5 py-4 d-flex">
      <div class="card train-track flex-grow-1 justify-content-end">
        <h4 class="project-name text-right">TrainTrack</h4>
      </div>
    </div>
    <div class="col px-5 py-4 d-flex">
      <div class="card a-sailor-a-cook flex-grow-1 justify-content-end">
        <h4 class="project-name text-left">A Sailor, A Cook</h4>
      </div>
    </div>
    <div class="col px-5 py-4 d-flex">
      <div class="card icebreaker flex-grow-1 justify-content-end">
        <h4 class="project-name text-right">Icebreaker</h4>
      </div>
    </div>
    <div class="col px-5 py-4 d-flex">
      <div class="card tic-tac-toe flex-grow-1 justify-content-end">
        <h4 class="project-name text-left">Tic, Tac, Toe</h4>
      </div>
    </div>
    <div class="col px-5 py-4 d-flex">
      <div class="card snake flex-grow-1 justify-content-end">
        <h4 class="project-name text-right">Snake</h4>
      </div>
    </div>
  </div>
</section>