
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Someone left you a message, Joe!</h1>
  <h2>Check it out:</h2>
  <p><%=  %></p>
  </body>
</html>