@font-face {
  font-family: quicksand;
  src: url('/public/assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf');
}

$quicksand: quicksand, sans-serif;

// Bootstrap variable changes
$font-family-sans-serif: $quicksand;

$spacer: 1rem !default;
$spacers: (
  6: ($spacer * 5),
  7: ($spacer * 7.5),
  8: ($spacer * 10)
);

@import "bootstrap/scss/bootstrap";

$photo-size: 20vw;

.central-photo {
  height: $photo-size;
  width: $photo-size;
  background: var(--red);
}
