@import "font-awesome";

@font-face {
  font-family: quicksand;
  src: local("/public/assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf");
}

$quicksand: quicksand, sans-serif;

// Bootstrap variable changes
$font-family-sans-serif: $quicksand;

$spacer: 1rem !default;
$spacers: (
  6: (
    $spacer * 5
  ),
  7: (
    $spacer * 7.5
  ),
  8: (
    $spacer * 10
  )
);
$container-max-widths: (
  xl: 1600px
) !default;

@import "bootstrap/scss/bootstrap";

$base-photo-size: 150px;
$base-social-link-size: 3rem;

@import "extra_small";
@import "small";
@import "medium";
@import "large";
@import "extra_large";

html {
  font-size: 16px;
}

.landing-page-section,
.projects-section {
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}

.projects-section,
.further-reading-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// LANDING PAGE SECTION
.landing-page-section {
  min-height: 100vh;

  .central-photo {
    flex-grow: 0;
    flex-shrink: 0;
    background-image: url(/joe5.jpeg);
    background-size: 200%;
    background-position-x: 36%;
    background-position-y: 42%;
  }

  .social-media-links {
    .link-container {
      flex: 1;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    a {
      color: black;
      text-align: center;
      border-radius: 100%;
      display: block;
      background-color: transparent;
      transition: background-color 1s ease;
    }

    a:hover {
      cursor: pointer;
      transition: background-color 0.25s ease;
    }

    a.twitter:hover {
      color: rgb(29, 161, 242);
      background-color: rgba(29, 161, 242, 0.1);
    }

    a.github:hover {
      color: #6e5494;
      background-color: rgba(110, 84, 148, 0.1);
    }

    a.linkedin:hover {
      color: #0077b5;
      background-color: rgba(0, 119, 181, 0.1);
    }

    a.medium:hover {
      color: #00ab6c;
      background-color: rgba(0, 171, 108, 0.1);
    }
  }

  .definition {
    font-weight: 300;
  }

  .link-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
}

// PROJECTS SECTION
.projects-section {
  .projects-grid {
    display: grid;
    flex: 1;
  }

  .card {
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .cover {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
    }

    .project-name {
      position: absolute;
      width: 100%;
      z-index: 3;
      margin: 0;
      font-weight: 900;
      color: rgba(255, 255, 255, 0.7);
      transition: color 3s ease;
    }

    .tech-list {
      flex: 0 0 25px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .tech-logo {
        flex: 1;
        max-width: 100%;
      }
    }
  }

  .card:hover .project-name {
    color: rgba(0, 0, 0, 0.9);
    transition: color 2s ease, text-shadow 2s ease;
    text-shadow: 0.25px 0.25px 1px rgba(255, 255, 255, 0.9),
      -0.25px 0.25px 1px rgba(255, 255, 255, 0.9),
      0.25px -0.25px 1px rgba(255, 255, 255, 0.9),
      -0.25px -0.25px 1px rgba(255, 255, 255, 0.9);
  }
}

// FURTHER READING SECTION
.further-reading-section {
  display: flex;
  flex-direction: column;

  .further-reading-grid {
    flex: 1;

    .cell {
      .box {
        border: 1px solid grey;

        .box-title,
        .box-text {
          text-align: center;
        }

        .box-text {
          margin: 0;
        }
      }
    }

    .say-hello {
      .contact-form {
        display: flex;
        flex-direction: column;

        .wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;

          label {
            min-width: 100px;
            margin: 0;
            align-self: start;
          }

          input,
          textarea {
            flex: 1;
          }

          .message-box {
            min-height: 5rem;
          }
        }

        input[type="submit"] {
          margin: 5px 0;
          width: 100px;
          align-self: center;
        }
      }
    }

    .my-stack .box {
      .stack-list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          flex: 1;
          list-style-type: none;

          img {
            max-width: 100%;
          }
        }
      }
    }

    .cv .box {
      display: flex;
      flex-direction: column;

      .btn {
        align-self: center;
        margin: 1rem 0;
      }
    }
  }
}
