// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .landing-page-section {
    .intro-column {
      .central-photo {
        min-width: 300px;
        flex-basis: 300px;
      }

      .social-media-links {
        min-width: 600px;
      }
    }
  }
}
