// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .landing-page-section {
    padding: 1rem 0;

    .intro-column {
      .social-media-links {
        min-width: 400px;

        a {
          font-size: 1.75rem;
          width: 1.7rem;
          height: 1.7rem;
        }
      }

      .name {
        font-size: 2.4rem;
        margin-top: 0.5rem;
      }

      .name-phonetic {
        font-size: 1.4rem;
        margin-top: -0.75rem;
      }

      .definition {
        font-size: 1.1rem;
        margin: -0.2rem 0 0 0;
        font-weight: 500;
      }

      .link-list {
        padding: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .projects-section {
    > .row {
      margin: 0;
    }

    .header {
      .section-title {
        font-size: 2rem;
      }

      .phonetic-subtitle {
        font-size: 1rem;
      }
    }

    .projects-grid {
      .grid-cell {
        .card {
          .cover {
            bottom: 0;
            transition: bottom 3s ease;
          }
        }

        .card:hover > .cover {
          bottom: 75%;
          transition: bottom 2s ease;
        }
      }
    }
  }

  .further-reading-section {
    .section-title {
      font-size: 2rem;
    }

    .phonetic-subtitle {
      font-size: 1rem;
    }

    .further-reading-grid {
      display: flex;
      flex-direction: column;

      .cell .box {
        .box-title {
          font-size: 1.5rem;
        }

        .box-text {
          font-size: 1rem;
          text-align: center;
        }
      }

      .cell:not(:last-of-type) .box {
        margin-bottom: 2rem;
      }

      .my-stack {
        .box {
          display: flex;
          flex-direction: column;

          .stack-list {
            max-width: 450px;
            align-self: center;

            li {
              flex: 1;
              list-style-type: none;

              img {
                max-width: 100%;
              }
            }

            li:not(:first-of-type) {
              margin-left: 0.3rem;
            }

            li:not(:last-of-type) {
              margin-right: 0.3rem;
            }
          }
        }
      }

      .cv .box {
        text-align: center;
      }

      .say-hello .box .contact-form {
        max-width: 700px;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 991px) {
  .landing-page-section .intro-column {
    .central-photo {
      min-width: 200px;
      flex-basis: 200px;
    }

    .link-list {
      margin-top: calc(100vh - 420px);
    }
  }
  


  .projects-section .projects-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-template-rows: repeat(6, 250px);
    max-width: 600px;
    align-self: center;

    .grid-cell {
      .card {
        .tech-list {
          flex: 0 0 28px;
          height: 75%;
          align-self: flex-end;
          padding: 5px 0;
          margin: 0 0 0 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          li {
            flex-shrink: 1;
            list-style-type: none;

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }

        .card-body {
          padding: 0;
          height: 75%;
          align-self: flex-end;
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: flex-end;

          .project-description {
            flex: 1;
            padding: 5px 5px 0 5px;
            margin: 0;
          }

          .nav-bar {
            width: 100%;
            display: flex;

            .btn {
              padding: 0;
              font-size: 0.8rem;
              flex: 1;
              margin: 0 5px;
              max-width: calc(33.3% - 10px);
            }
          }
        }
      }

      .card:hover {
        > .cover {
          bottom: 77%;
          transition: bottom 2s ease;
        }
      }

      .cop-26 .cover {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent),
          url(/cop26_screenshot.png);
        background-size: cover;
      }

      .train-track .cover {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/train_track_screenshot.jpg);
        background-size: cover;
        background-position: center;
      }

      .icebreaker .cover {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/icebreaker_screenshot.png);
        background-size: cover;
      }

      .a-sailor-a-cook .cover {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/a_sailor_a_cook_screenshot.png);
        background-size: cover;
      }

      .robbin-hoodz .cover {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/robbin_hoodz_screenshot.png);
        background-size: cover;
      }

      .gust .cover {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/gust_screenshot.png);
        background-size: cover;
        background-position-y: top;
        background-position-x: center;
      }
    }
  }

  .further-reading-section .further-reading-grid {
    .cell .box {
      padding: 1.5rem 1.5rem;
    }

    .say-hello .box {
      .contact-form,
      .contact-form > *:not(:nth-child(2)) {
        margin-top: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .landing-page-section .intro-column {
    .mobile-view-intro,
    .tl-dr .mobile-view {
      display: none;
    }
  }
}
