// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .landing-page-section {
    padding: 1rem 0;

    .intro-column {
      .social-media-links {
        min-width: 400px;

        a {
          font-size: 1.75rem;
          width: 1.7rem;
          height: 1.7rem;
        }
      }

      .name {
        font-size: 2.4rem;
        margin-top: 0.5rem;
      }

      .name-phonetic {
        font-size: 1.4rem;
        margin-top: -0.75rem;
      }

      .definition {
        font-size: 1.1rem;
        margin: -0.2rem 0 0 0;
        font-weight: 500;
      }

      .dictionary {
        margin-top: 1rem;

        .tab-bar .tab {
          font-size: 0.9rem;
        }

        .collapsed-area {
          min-height: 210px;

          .card {
            padding: 1rem 1rem 1rem 0;

            .card-text {
              font-size: 0.9rem;
            }
          }
        }
      }

      .link-list {
        padding: 0;
        text-align: center;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > * {
          margin: 0 0.2rem;
        }
      }
    }
  }

  .projects-section {
    > .row {
      margin: 0;
    }

    .header {
      .section-title {
        font-size: 2rem;
      }

      .phonetic-subtitle {
        font-size: 1rem;
      }
    }

    .projects-grid {
      grid-template-rows: repeat(6, 150px);
      grid-template-columns: 1fr;
      grid-row-gap: 10px;

      .grid-cell {
        .card {
          .cover {
            bottom: 0;
            transition: bottom 3s ease;
          }

          .project-name {
            font-size: 2rem;
            left: 0.5rem;
          }
        }

        .card:hover > .cover {
          bottom: 75%;
          transition: bottom 2s ease;
        }
      }
    }
  }

  .further-reading-section {
    .section-title {
      font-size: 2rem;
    }

    .phonetic-subtitle {
      font-size: 1rem;
    }

    .further-reading-grid {
      display: flex;
      flex-direction: column;

      .cell .box {
        .box-title {
          font-size: 1.5rem;
        }

        .box-text {
          font-size: 1rem;
          text-align: center;
        }
      }

      .cell:not(:last-of-type) .box {
        margin-bottom: 2rem;
      }

      .my-stack {
        .box {
          display: flex;
          flex-direction: column;

          .stack-list {
            max-width: 450px;
            align-self: center;

            li {
              flex: 1;
              list-style-type: none;

              img {
                max-width: 100%;
              }
            }

            li:not(:first-of-type) {
              margin-left: 0.3rem;
            }

            li:not(:last-of-type) {
              margin-right: 0.3rem;
            }
          }
        }
      }

      .cv .box {
        text-align: center;

        .cv-link {
        }
      }

      .say-hello .box .contact-form {
        max-width: 700px;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 991px) {
  .landing-page-section .intro-column .central-photo {
    min-width: 200px;
    flex-basis: 200px;
  }

  .projects-section .projects-grid {
    grid-template-rows: repeat(6, 150px);
    grid-template-columns: 1fr;
    grid-row-gap: 10px;

    .grid-cell {
      .left-column:hover {
        > .cover {
          bottom: 80%;
          transition: bottom 2s ease;
        }
      }
    .train-track .cover {
        background:
          linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/traintrack2.jpeg);
        background-size: cover;
      }

      .cop-26 .cover {
        background:
          linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/cop26-4.jpeg);
        background-size: cover;
      }

      .icebreaker .cover {
        background:
          linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/icebreaker-2.jpeg);
        background-size: cover;
      }

      .a-sailor-a-cook .cover {
        background:
          linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/a-sailor-a-cook.jpeg);
        background-size: cover;
      }

      .tic-tac-toe .cover {
        background:
          linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/tic-tac-toe-1.jpeg);
        background-size: cover;
        background-position-x: right;
      }

      .snake .cover {
        background:
          linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent),
          url(/snake.jpeg);
        background-size: cover;
        background-position-x: left;
      }
    }
  }

  .further-reading-section .further-reading-grid .cell .box {
    padding: 1.5rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .landing-page-section .intro-column {
    .mobile-view-intro,
    .tl-dr .mobile-view {
      display: none;
    }
  }
}
